* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 2px dashed rgb(187, 184, 184);
    margin-bottom: 60px;
}

.shop {
    display: flex;
    align-items: center;
}

.shop img {
    width: 200px;
    height: 60px;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-left: 300px;
}

.nav ul li {
    display: inline-block;

}

.nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}

.nav ul li a:hover {
    color: #888;
}

.foto {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 30px;
    padding-bottom: 100px;
    margin-bottom: 100px;

    border-bottom: 2px dashed rgb(187, 184, 184);
}


.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex: 2;
}

.img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: felx;
    align-items: center;
    justify-content: center;
}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: white;
    font-size: 18px;
}

.text-section h4 {
    font-size: 50px;
}

.image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: felx;
    align-items: center;
    justify-content: center;

}

.image-text {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: white;
    text-align: center;
    padding: 80px;
    font-size: 18px;
}

.image h4 {
    font-size: 30px;
    margin-bottom: 20px;
}


.btn {
    padding: 12px 15px;
    width: 150px;
    height: 50px;
    display: inline-block;
    font-size: 13px;
    border: 1px solid #fff;
    color: white;
    background-color: rgb(169, 169, 179);

}

.btn:hover {
    background-color: #fefdfd;
    color: black;
}


.men,
.women,
.kids {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    border-bottom: 2px dashed rgb(187, 184, 184);
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}

.rating {
    font-size: 10px;
}

.text {
    color: #b5aeae;
    font-weight: bold;
}




.products-section {
    padding: 50px 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore {

    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    border-bottom: 2px dashed rgb(187, 184, 184);

}


.products-header {
    max-width: 45%;
    text-align: left;
}

.products-header h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.products-header p {
    color: #666;
    margin-bottom: 20px;
}

.products-header blockquote {
    font-size: 18px;
    font-style: italic;
    color: #333;
    margin: 20px 0;
}

.products-header a {
    color: #050505;
    text-decoration: none;
}

.btn-1 {
    width: 130px;
    height: 50px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(12, 12, 12);
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    border: 1px solid black;
}

a:hover {
    color: white;
    background-color: black;
}


.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 50%;
}

.product-item {
    background-color: #f8f5f5;
    padding: 20px;
    text-align: center;
}

.product-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.product-item p {
    color: #666;
    margin-bottom: 15px;
}

.product-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.social-media-section {
    padding: 40px;
    border-bottom: 2px dashed rgb(187, 184, 184);
}

.social-media-section h2 {
    font-size: 34px;
    font-weight: bold;
    color: #2a2a2a;
}

.social-media-section p {
    font-size: 14px;
    color: #666;
}

.social-images {
    display: flex;


}

.social-images:hover {
    transform: scale(1.05);
}

.container-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.social-images img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}



.newsletter-section {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.newsletter {
    flex: 1;
    margin-right: 20px;/
}

.newsletter-section h2 {
    font-size: 34px;
    font-weight: bold;
}

.newsletter-section p {
    font-size: 14px;
    color: #666;
}

.newsletter-section .form {
    display: flex;
    gap: 10px;
}

.fa-brands {
    font-size: 20px;
}

.newsletter-section .form input {
    padding: 10px;
    border: 1px solid #ddd;
    width: 250px;
}

.newsletter-section .form button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.contact-info div {
    font-size: 14px;
}

.contact-info p {
    margin: 5px 0;
}

.butn:hover {
    background-color: white;
}



.footer {
    background-color: #222;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

.footer-column p,
.footer-column a {
    color: white;
    text-decoration: none;
    line-height: 1.8;
}

.footer-column p:hover,
.footer-column a:hover {
    color: #bbb;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #444;
    color: #bbb;
}

.footer-bottom p {
    margin-bottom: 10px;
}

.icons {
    margin-top: 20px;
}

.icons a {
    color: #bbb;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
}

.icons a:hover {
    color: #fff;
}
/* ------------------------------------------ */
/* explore hissesi ucun responsivlik */
@media (max-width: 768px) {
    .explore {
        flex-direction: column;
    }

    .products-header,
    .products-grid {
        max-width: 100%;
    }

    .products-grid {
        grid-template-columns: 1fr;
    }
}
/* ------------------------------------- */
.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    border-radius: 5px;
}

/* Header hissesi ucun responsivlik */
@media (max-width: 768px) {
    .nav ul {
        display: none;
    }

    .burger {
        display: block;
    }
}
/* ------------------------------------------------------------ */

/* Kiçik ekranlar üçün (tablet və telefonlar) */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .nav ul {
        flex-direction: column;
        margin-left: 0;
        text-align: center;
    }

    .foto {
        flex-direction: column;
    }

    .images {
        grid-template-columns: 1fr;
    }

    .text-section {
        position: relative;
        bottom: 0;
        left: 0;
        padding: 20px;
    }

    .text-section h4 {
        font-size: 30px;
    }

    .image-text {
        position: relative;
        padding: 20px;
        bottom: 0;
        left: 0;
    }

    .image h4 {
        font-size: 24px;
    }
}




/*992 pikseldən kiçik ekranlar üçün */
@media (max-width: 992px) {
    .foto {
        flex-direction: column;
    }

    .images {
        grid-template-columns: 1fr;
    }

    .text-section {
        position: relative;
        bottom: 0;
        left: 0;
        padding: 20px;
    }

    .text-section h4 {
        font-size: 30px;
    }

    .image-text {
        position: relative;
        padding: 20px;
        bottom: 0;
        left: 0;
    }

    .image h4 {
        font-size: 24px;
    }
}

/* Kiçik ekranlar üçün (tablet və telefonlar) */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .nav ul {
        flex-direction: column;
        margin-left: 0;
        text-align: center;
    }

    .text-section {
        position: relative;
        bottom: 0;
        left: 0;
        padding: 20px;
    }
}

/* Daha kiçik ekranlar üçün (telefonlar) */
@media (max-width: 480px) {
    .text-section h4 {
        font-size: 24px;
    }

    .btn {
        width: 120px;
        height: 40px;
    }

    .image h4 {
        font-size: 20px;
    }
}


/* ---------------------------------------------- */
/* 992 piksel və daha kiçik ekranlar üçün  footer responsivlik*/
@media (max-width: 992px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-bottom {
        padding: 10px 0;
    }

    .icons {
        margin-top: 10px;
    }
}

/* 768 piksel və daha kiçik ekranlar üçün */
@media (max-width: 768px) {
    .footer-column h3 {
        font-size: 16px; 
    }

    .footer-column p,
    .footer-column a {
        font-size: 14px; 
    }

    .icons a {
        font-size: 18px; 
    }
}
/* ------------------------------------------------------ */


/* 992 piksel və daha kiçik ekranlar üçün  newsletter hisesi ucun responsivlik*/
@media (max-width: 992px) {
    .newsletter-section {
        flex-direction: column; 
        align-items: center; 
    }

    .newsletter {
        margin-right: 0; 
        text-align: center; 
        margin-bottom: 20px; 
    }

    .newsletter-section .form {
        flex-direction: column; 
        align-items: center; 
        gap: 10px; 
    }

    .newsletter-section .form input {
        width: 100%; 
        max-width: 300px; 
    }

    .newsletter-section .form button {
        width: 100%; 
        max-width: 100px; 
    }

    .contact-info {
        align-items: center; 
        margin-top: 20px; 
    }
}

/* 768 piksel və daha kiçik ekranlar üçün */
@media (max-width: 768px) {
    .newsletter-section h2 {
        font-size: 28px;
    }

    .newsletter-section p {
        font-size: 12px; 
    }
}
/* -------------------- */

@media (max-width: 768px) {
    .social-media-section h2 {
        font-size: 28px; 
    }

    .social-media-section p {
        font-size: 12px; 
    }

    .social-images img {
        width: 100px; 
        height: 100px; 
    }
}

